﻿#example .new { opacity: 0; }
#example .div_opacity {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 1;
}

table { 
    /* border: 4px double black; /* Рамка вокруг таблицы */
    /* border-collapse: collapse; /* Отображать только одинарные линии */
   }

body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 11pt; /* Размер основного шрифта в пунктах  */
  color: #333; /* Цвет основного текста */ 
  background-color: #B9DCFA; /* Цвет фона веб-страницы */
  background-image:url(../images/font.jpg); /* Фоновая картинка для веб-страницы */
  background-size: 100% auto; /* Размеры фонового рисунка ширина/высота */
  background-repeat:no-repeat; /* Делать ли "плитку" из фоновых изображений */
  background-attachment:fixed; /* При прокрутке фон неподвижен */
}

H1 {
  color: #000080;
  font-size: 130%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}
H2 {
  text-align: center;
}
P {
  text-align: left;/*justify; /* Выравнивание по ширине */
  margin-left: 20px; /* Отступ слева в пикселах */
  margin-right: 10px; /* Отступ справа в пикселах */
  /* border-left: 1px solid #999; /* Параметры линии слева */
  /* border-bottom: 1px solid #999; /* Параметры линии снизу */
  padding-left: 10px; /* Отступ от линии слева до текста  */
  padding-bottom: 10px; /* Отступ от линии снизу до текста  */
  color: #333366
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    margin: 50px 0 0 0;
	text-transform: uppercase;
	-webkit-transition: all 0.12s ease-out;
	-moz-transition: all 0.12s ease-out;
	-o-transition: all 0.12s ease-out;
	letter-spacing: 0.7px;
}
a:hover { 
transition:1s; color:blue;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
text-shadow: 3px 3px 3px #333; 
}
